body {
    font-family: sans-serif;
}

.top-line {
    fill: none;
    /*fill: rgba(255, 145, 135, 0.8);*/
    stroke: red;
    stroke-width: 2px;
}

.bottom-line {
    fill: none;
    /*fill: rgba(89, 167, 255, 0.8);*/
    stroke: steelblue;
    stroke-width: 2px;
}

body {
    font: 12px Arial;
}

.axis {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.xaxis {
    /*display: none;*/
}

.cross-value-text {
    dx: 8;
    dy: -.3em;
}

.horizontal-line {
    stroke: blue;
    stroke-dasharray: 3, 3;
    opacity: 0.5;
}

.vertical-line {
    stroke: blue;
    stroke-dasharray: 3, 3;
    opacity: 0.5;
}

.cross {
    fill: none;
    stroke: blue;
}

.series {
    fill: none;
    /*stroke: steelblue;*/
    stroke-width: 2px;
}